@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Timothy Lopez info</h1>
    <h2>Ay-ayaten ka ayat ko Kea unay unay!!!</h2>
    <img style="width: 100%; height: auto;" src="/IMG_20230704_195603-ANIMATION.gif">
</div>
