@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Timothy Lopez info</h1>
    <h2>Ay-ayaten ka ayat ko Kea unay unay!!!</h2>
    <img style="width: 100%; height: auto;" src="https://dspncdn.com/a1/media/692x/b5/ee/15/b5ee154d08a7c6f21f50e07bf053abd4.jpg" width="460" height="345">
</div>
